div
 {
height: 200px;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,63,0.8211659663865546) 0%, rgba(7,137,96,1) 100%, rgba(0,212,255,1) 100%);
}
body
{
background-image: url('/static/matric.jpg')
}
h1 { color: red;}