{%extends 'main.html' %}
{% block title%}
Ball
{%endblock%}
{% block body%}
<center><img src="/static/images/ball.jpg" width="430" height="400"></center>
<center>
    <div class="for_numbers">
    <form action="" method="post">
    <p><input type="text" placeholder="Радиус" name="radius"></p>
    <p><input type="text"  placeholder="Число знаков после запятой" name="aim"></p>
    <p><input type="submit"></p>
    </form>
        <center><h2>Объём фигуры = {{result}}</h2></center>
    </div>
</center>
</div>

{%endblock%}
